<!DOCTYPE html>
{{/* Add class to html tag - JS will add/remove 'dark' here */}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{/* Add meta tag for theme color - JS will update this */}}
    {{/* Set content to your default light mode background hex code */}}
    <meta name="theme-color" id="metaTheme" content="#fdfdfd">

    {{/* In baseof.html or your search page layout <head> */}}
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>


     {{/* --- Process & Link Theme-Specific Syntax CSS --- */}}

    {{/* Get and process Light Syntax CSS */}}
    {{ $syntaxLight := resources.Get "styles/syntax_light.css" }}
    {{ if $syntaxLight }}
      {{ $syntaxLight = $syntaxLight | resources.Minify | resources.Fingerprint }}
      {{/* Load light theme - JS will disable if needed */}}
      <link
        id="syntax-light-theme"
        rel="stylesheet"
        href="{{ $syntaxLight.RelPermalink }}"
        integrity="{{ $syntaxLight.Data.Integrity }}"
      >
    {{ else }}
      {{ warnf "syntax_light.css not found." }}
    {{ end }}

    {{/* Get and process Dark Syntax CSS */}}
    {{ $syntaxDark := resources.Get "styles/syntax_dark.css" }}
    {{ if $syntaxDark }}
      {{ $syntaxDark = $syntaxDark | resources.Minify | resources.Fingerprint }}
      {{/* Load dark theme - REMOVED media="not all". JS will disable if needed */}}
      <link
        id="syntax-dark-theme"
        rel="stylesheet"
        href="{{ $syntaxDark.RelPermalink }}"
        integrity="{{ $syntaxDark.Data.Integrity }}"
      >
      {{/* REMOVED disabled attribute - JS handles initial state */}}
    {{ else }}
      {{ warnf "syntax_dark.css not found." }}
    {{ end }}


    {{/* --- Process and link your main style.css --- */}}
    {{ $style := resources.Get "styles/style.css" }}
    {{ if $style }}
      {{ $style = $style | resources.Minify | resources.Fingerprint }}
      <link
        rel="stylesheet"
        href="{{ $style.RelPermalink }}"
        integrity="{{ $style.Data.Integrity }}"
      >
    {{ else }}
      {{ warnf "Main stylesheet styles/style.css not found." }}
    {{ end }}

    {{/* This commented-out link is likely redundant now */}}
    <!--  <link rel="stylesheet" href="{{ "styles/style.css" | relURL }}" />  -->

    {{/* Fonts */}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    {{/* Title */}}
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ site.Title }}</title>

    {{/* Favicons */}}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

  </head>
  <body> {{/* Consider adding class to <html> instead if preferred */}}
    <div class="container">
      {{partial "navbar" . }}
      <!-- This is where the content of each page is inserted -->
      {{ block "main" . }}{{ end }}
      <!-- Including the footer partial -->
      {{ partial "footer" .}}
    </div>

    {{/* Ensure JS is loaded at the end */}}
    <script src="/js/script.js"></script>
    <script src="/js/add-on.js"></script>
    <script src="/js/toc.js"></script>
  </body>
</html>