{{ define "main" }}

<div class="list">
  <div class="pageHeader">

    <h1 class="siteTitlePage">{{ .Title }}</h1>

    {{ with .Params.description }}
      <p class="pageDescription">{{ . }}</p>
    {{ end }}

    {{/* --- Checks whether the page is categories page or not, if NOT categories page then view all topics is shown, view all topics will not be shown in categories page --- */}}

    {{ $isCategoriesPage := eq .Permalink "/categories/" }}
    {{ if not $isCategoriesPage }}
      <p class="view-all-topics">
        <a href="/categories/" aria-label="View all categories">View all Topics</a>
      </p>
    {{ end }}
    
    {{/* --- End check --- */}}

  {{/* Filter pages: Only include items whose 'Section' is 'blog' or 'notes' or 'projects' */}}
  {{ $pagesToList := where .Paginator.Pages "Section" "in" (slice "blog" "notes" "projects") }}

  {{/* Loop over the filtered list */}}
  {{ range $pagesToList }}
    {{ partial "listItemCard.html" . }}
  {{ end }}
</div>
{{ end }}
