{{ define "main" }}
<div class="single">
  <div class="singleHead">
    <div class="singleHeadTexts">
      <div class="about-page-wrapper">
        <h1 class="siteTitlePage" id="about-heading">{{ .Title }}</h1>

        {{/* --- THIS IS WHERE content/about/index.md CONTENT GOES --- */}}
        <div class="singleBottom">
          <div class="singleContent" aria-labelledby="about-heading">
            {{ .Content }}
          </div>
        </div>
        {{/* --- END CONTENT PLACEMENT --- */}}

        {{/* Other custom about page elements... */}}
      </div>
    </div>
  </div>
</div>
{{ end }}
